.title{
	color: #555;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	padding:5px;
	width: 900px;
	border-radius: 3px;
	left: 50%;
	margin-left: -52px;
	margin-top: 16px;
	position: absolute;
	top: -7px;
}

.test{
	color:red;
}

.background{
	padding-top: 0;
	background: whitesmoke;
}

.mapcontainer{
	height: 540px;
	padding: 2px;
	border-radius: 5px;
	min-width: 120px;
	background: #ffffff;
	padding: 20px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.appcontainer{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.sxswmap{
	width: 100%; 
	height: 500px;
}

.sxswtable{
	background: white;
	margin-top: 20px;
	border-radius: 5px;
	font-size: 12px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.thumbnail{
	display: block;
	line-height: 30px;
	border: none;
	padding:0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
}

.thumbnails{
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 210px;
	line-height: 20px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 870px;
}

.row-fluid {
	color: rgb( 51, 51, 51 );
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	width: 870px;
	padding-bottom: 50px;
	height: 1200px;
}

.row-fluid .span3 {
    width: 20%;
}

.row-fluid [class*="span"] {
	display: block;
	float: left;
	min-height: 30px;
	margin-left: 2.127659574468085%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.leadin{
	padding: 20px;
	font-size: 14px;
}

.person{
	font-size: 11px;
	padding: 10px;
	color: #555;
	font-weight: bold;
}

img{
	width: 260px;
	height: 180px;
}

.headerBackground{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
	-webkit-transform: translateZ(0);
	background: #fff;
	height: 44px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}